# Bibliotecas

In [ ]:
# Instalar bibliotecas
!pip install python-bcb
!pip install ipeadatapy
!pip install sidrapy

# Importar bibliotecas
from bcb import sgs
import pandas as pd
import ipeadatapy as ipea
import sidrapy as sidra

Collecting python-bcb
  Downloading python_bcb-0.2.0-py3-none-any.whl (16 kB)
Collecting httpx<0.25.0,>=0.24.0 (from python-bcb)
  Downloading httpx-0.24.1-py3-none-any.whl (75 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 75.4/75.4 kB 3.1 MB/s eta 0:00:00
Requirement already satisfied: lxml<5.0.0,>=4.9.2 in /usr/local/lib/python3.10/dist-packages (from python-bcb) (4.9.3)
Collecting pandas<3.0.0,>=2.0.0 (from python-bcb)
  Downloading pandas-2.0.3-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (12.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.3/12.3 MB 28.4 MB/s eta 0:00:00
Requirement already satisfied: requests<3.0.0,>=2.31.0 in /usr/local/lib/python3.10/dist-packages (from python-bcb) (2.31.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.10/dist-packages (from httpx<0.25.0,>=0.24.0->python-bcb) (2023.7.22)
Collecting httpcore<0.18.0,>=0.15.0 (from httpx<0.25.0,>=0.24.0->python-bcb)
  Downloading httpcore-0.17.3-py3-none-any.whl (74 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 74.5/74.5 kB 10.5 MB/s eta 0:00:00
Requirement already satisfied: idna in /usr/local/lib/python3.10/dist-packages (from httpx<0.25.0,>=0.24.0->python-bcb) (3.4)
Requirement already satisfied: sniffio in /usr/local/lib/python3.10/dist-packages (from httpx<0.25.0,>=0.24.0->python-bcb) (1.3.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas<3.0.0,>=2.0.0->python-bcb) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas<3.0.0,>=2.0.0->python-bcb) (2023.3)
Collecting tzdata>=2022.1 (from pandas<3.0.0,>=2.0.0->python-bcb)
  Downloading tzdata-2023.3-py2.py3-none-any.whl (341 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 341.8/341.8 kB 35.7 MB/s eta 0:00:00
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas<3.0.0,>=2.0.0->python-bcb) (1.23.5)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests<3.0.0,>=2.31.0->python-bcb) (3.2.0)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests<3.0.0,>=2.31.0->python-bcb) (2.0.4)
Collecting h11<0.15,>=0.13 (from httpcore<0.18.0,>=0.15.0->httpx<0.25.0,>=0.24.0->python-bcb)
  Downloading h11-0.14.0-py3-none-any.whl (58 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 58.3/58.3 kB 7.1 MB/s eta 0:00:00
Requirement already satisfied: anyio<5.0,>=3.0 in /usr/local/lib/python3.10/dist-packages (from httpcore<0.18.0,>=0.15.0->httpx<0.25.0,>=0.24.0->python-bcb) (3.7.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas<3.0.0,>=2.0.0->python-bcb) (1.16.0)
Requirement already satisfied: exceptiongroup in /usr/local/lib/python3.10/dist-packages (from anyio<5.0,>=3.0->httpcore<0.18.0,>=0.15.0->httpx<0.25.0,>=0.24.0->python-bcb) (1.1.3)
Installing collected packages: tzdata, h11, pandas, httpcore, httpx, python-bcb
  Attempting uninstall: pandas
    Found existing installation: pandas 1.5.3
    Uninstalling pandas-1.5.3:
      Successfully uninstalled pandas-1.5.3
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
google-colab 1.0.0 requires pandas==1.5.3, but you have pandas 2.0.3 which is incompatible.
Successfully installed h11-0.14.0 httpcore-0.17.3 httpx-0.24.1 pandas-2.0.3 python-bcb-0.2.0 tzdata-2023.3
Collecting ipeadatapy
  Downloading ipeadatapy-0.1.9-py3-none-any.whl (10 kB)
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (from ipeadatapy) (2.0.3)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from ipeadatapy) (2.31.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas->ipeadatapy) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas->ipeadatapy) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas->ipeadatapy) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas->ipeadatapy) (1.23.5)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests->ipeadatapy) (3.2.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->ipeadatapy) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests->ipeadatapy) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests->ipeadatapy) (2023.7.22)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas->ipeadatapy) (1.16.0)
Installing collected packages: ipeadatapy
Successfully installed ipeadatapy-0.1.9
Collecting sidrapy
  Downloading sidrapy-0.1.4-py3-none-any.whl (6.9 kB)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from sidrapy) (2.31.0)
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (from sidrapy) (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas->sidrapy) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas->sidrapy) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas->sidrapy) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas->sidrapy) (1.23.5)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests->sidrapy) (3.2.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->sidrapy) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests->sidrapy) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests->sidrapy) (2023.7.22)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas->sidrapy) (1.16.0)
Installing collected packages: sidrapy
Successfully installed sidrapy-0.1.4

# Coleta de dados do BCB

In [ ]:
# Importar 1 série do SGS/BCB
dados_sgs = sgs.get(codes = 22099, start = "2010-01-01")
dados_sgs

             22099
Date
2010-01-01  152.53
2010-04-01  158.86
2010-07-01  163.63
2010-10-01  163.55
2011-01-01  160.45
2011-04-01  166.33
2011-07-01  169.41
2011-10-01  167.75
2012-01-01  163.19
2012-04-01  167.97
2012-07-01  173.63
2012-10-01  171.91
2013-01-01  167.63
2013-04-01  174.73
2013-07-01  178.42
2013-10-01  176.26
2014-01-01  173.45
2014-04-01  173.97
2014-07-01  177.28
2014-10-01  175.86
2015-01-01  170.64
2015-04-01  169.20
2015-07-01  169.72
2015-10-01  166.15
2016-01-01  161.87
2016-04-01  163.75
2016-07-01  165.55
2016-10-01  162.39
2017-01-01  162.33
2017-04-01  165.04
2017-07-01  168.27
2017-10-01  166.58
2018-01-01  165.42
2018-04-01  167.71
2018-07-01  171.73
2018-10-01  169.17
2019-01-01  166.91
2019-04-01  169.67
2019-07-01  173.63
2019-10-01  172.05
2020-01-01  167.61
2020-04-01  152.49
2020-07-01  168.38
2020-10-01  171.42
2021-01-01  170.48
2021-04-01  171.42
2021-07-01  175.84
2021-10-01  175.08
2022-01-01  174.62
2022-04-01  177.74
2022-07-01  182.14
2022-10-01  178.43
2023-01-01  181.61

In [ ]:
# Importar múltiplas séries do SGS/BCB
dados_sgs = sgs.get(codes = {"pib": 22099, "ipca": 433})
dados_sgs.tail(10)

               pib  ipca
Date
2022-10-01  178.43  0.59
2022-11-01     NaN  0.41
2022-12-01     NaN  0.62
2023-01-01  181.61  0.53
2023-02-01     NaN  0.84
2023-03-01     NaN  0.71
2023-04-01     NaN  0.61
2023-05-01     NaN  0.23
2023-06-01     NaN -0.08
2023-07-01     NaN  0.12

In [ ]:
# Importar dados do IPCA (expectativa anual) com o pandas
dados_expectativas = pd.read_csv(
    filepath_or_buffer = "https://olinda.bcb.gov.br/olinda/servico/Expectativa" +
    "s/versao/v1/odata/ExpectativasMercadoAnuais?$filter=Indicador%20eq%20'IPC" +
    "A'%20and%20Data%20ge%20'2021-01-01'&$format=text/csv",
    decimal = ","
    )
dados_expectativas

,Indicador,IndicadorDetalhe,Data,DataReferencia,Media,Mediana,DesvioPadrao,Minimo,Maximo,numeroRespondentes,baseCalculo
0,IPCA,NaN,2021-01-07,2020,4.3600,4.3800,0.1400,3.5100,4.5900,100,0
1,IPCA,NaN,2021-01-07,2024,3.2600,3.2000,0.4000,3.0000,5.3000,70,0
2,IPCA,NaN,2021-01-07,2021,3.3200,3.3100,0.3100,2.5000,4.1800,100,0
3,IPCA,NaN,2021-01-07,2022,3.4100,3.5000,0.3600,2.6000,5.7800,91,0
4,IPCA,NaN,2021-01-07,2023,3.3100,3.2500,0.3500,2.8000,5.4700,82,0
...,...,...,...,...,...,...,...,...,...,...,...
6605,IPCA,NaN,2023-08-18,2023,4.9069,4.9028,0.2347,4.2049,5.7312,109,1
6606,IPCA,NaN,2023-08-18,2024,3.8389,3.8249,0.3521,3.0303,5.5000,109,1
6607,IPCA,NaN,2023-08-18,2025,3.6071,3.5000,0.4627,3.0000,5.2100,99,1
6608,IPCA,NaN,2023-08-18,2026,3.5733,3.5000,0.5004,3.0000,5.4800,93,1
6609,IPCA,NaN,2023-08-18,2027,3.5406,3.5000,0.4864,3.0000,5.0000,88,1

# Coleta de dados do IPEADATA

In [ ]:
# Obter código das séries do IPEADATA
codigos_ipeadata = ipea.list_series()
codigos_ipeadata

# Buscar série de interesse
codigos_ipeadata[codigos_ipeadata.CODE.str.contains("CAGED")]

# Importar dados do CAGED pelo IPEDATA
dados_ipeadata = ipea.timeseries(series = "CAGED12_SALDON12")
dados_ipeadata

,CODE,RAW DATE,DAY,MONTH,YEAR,VALUE (Pessoa)
DATE,,,,,,
2020-01-01,CAGED12_SALDON12,2020-01-01T00:00:00-03:00,1,1,2020,92678.0
2020-02-01,CAGED12_SALDON12,2020-02-01T00:00:00-03:00,1,2,2020,198368.0
2020-03-01,CAGED12_SALDON12,2020-03-01T00:00:00-03:00,1,3,2020,-232316.0
2020-04-01,CAGED12_SALDON12,2020-04-01T00:00:00-03:00,1,4,2020,-902317.0
2020-05-01,CAGED12_SALDON12,2020-05-01T00:00:00-03:00,1,5,2020,-352790.0
2020-06-01,CAGED12_SALDON12,2020-06-01T00:00:00-03:00,1,6,2020,-23111.0
2020-07-01,CAGED12_SALDON12,2020-07-01T00:00:00-03:00,1,7,2020,123297.0
2020-08-01,CAGED12_SALDON12,2020-08-01T00:00:00-03:00,1,8,2020,238125.0
2020-09-01,CAGED12_SALDON12,2020-09-01T00:00:00-03:00,1,9,2020,313564.0
2020-10-01,CAGED12_SALDON12,2020-10-01T00:00:00-03:00,1,10,2020,388938.0
2020-11-01,CAGED12_SALDON12,2020-11-01T00:00:00-03:00,1,11,2020,408948.0
2020-12-01,CAGED12_SALDON12,2020-12-01T00:00:00-03:00,1,12,2020,-82118.0
2021-01-01,CAGED12_SALDON12,2021-01-01T00:00:00-03:00,1,1,2021,257059.0
2021-02-01,CAGED12_SALDON12,2021-02-01T00:00:00-03:00,1,2,2021,397915.0
2021-03-01,CAGED12_SALDON12,2021-03-01T00:00:00-03:00,1,3,2021,176330.0
2021-04-01,CAGED12_SALDON12,2021-04-01T00:00:00-03:00,1,4,2021,113922.0
2021-05-01,CAGED12_SALDON12,2021-05-01T00:00:00-03:00,1,5,2021,278705.0
2021-06-01,CAGED12_SALDON12,2021-06-01T00:00:00-03:00,1,6,2021,310036.0
2021-07-01,CAGED12_SALDON12,2021-07-01T00:00:00-03:00,1,7,2021,316725.0
2021-08-01,CAGED12_SALDON12,2021-08-01T00:00:00-03:00,1,8,2021,373344.0
2021-09-01,CAGED12_SALDON12,2021-09-01T00:00:00-03:00,1,9,2021,316993.0
2021-10-01,CAGED12_SALDON12,2021-10-01T00:00:00-03:00,1,10,2021,253083.0
2021-11-01,CAGED12_SALDON12,2021-11-01T00:00:00-03:00,1,11,2021,324112.0
2021-12-01,CAGED12_SALDON12,2021-12-01T00:00:00-03:00,1,12,2021,-265811.0
2022-01-01,CAGED12_SALDON12,2022-01-01T00:00:00-03:00,1,1,2022,155178.0
2022-02-01,CAGED12_SALDON12,2022-02-01T00:00:00-03:00,1,2,2022,328507.0
2022-03-01,CAGED12_SALDON12,2022-03-01T00:00:00-03:00,1,3,2022,136189.0
2022-04-01,CAGED12_SALDON12,2022-04-01T00:00:00-03:00,1,4,2022,196966.0
2022-05-01,CAGED12_SALDON12,2022-05-01T00:00:00-03:00,1,5,2022,277018.0
2022-06-01,CAGED12_SALDON12,2022-06-01T00:00:00-03:00,1,6,2022,277944.0
2022-07-01,CAGED12_SALDON12,2022-07-01T00:00:00-03:00,1,7,2022,218902.0
2022-08-01,CAGED12_SALDON12,2022-08-01T00:00:00-03:00,1,8,2022,278639.0
2022-09-01,CAGED12_SALDON12,2022-09-01T00:00:00-03:00,1,9,2022,278085.0
2022-10-01,CAGED12_SALDON12,2022-10-01T00:00:00-03:00,1,10,2022,159454.0
2022-11-01,CAGED12_SALDON12,2022-11-01T00:00:00-03:00,1,11,2022,135495.0
2022-12-01,CAGED12_SALDON12,2022-12-01T00:00:00-03:00,1,12,2022,-431011.0
2023-01-01,CAGED12_SALDON12,2023-01-01T00:00:00-03:00,1,1,2023,83297.0
2023-02-01,CAGED12_SALDON12,2023-02-01T00:00:00-03:00,1,2,2023,241785.0
2023-03-01,CAGED12_SALDON12,2023-03-01T00:00:00-03:00,1,3,2023,195171.0
2023-04-01,CAGED12_SALDON12,2023-04-01T00:00:00-03:00,1,4,2023,180005.0
2023-05-01,CAGED12_SALDON12,2023-05-01T00:00:00-03:00,1,5,2023,155270.0
2023-06-01,CAGED12_SALDON12,2023-06-01T00:00:00-03:00,1,6,2023,157198.0

# Coleta de dados do Sidra

**Aviso**: o código abaixo foi atualizado para facilitar a reprodução, usando uma biblioteca que se conecta a API.

Para mais informações veja esse tutorial: https://analisemacro.com.br/economia/indicadores/coletando-dados-do-sidra-com-o-python/

In [ ]:
# Importar tabela 7060 do Sidra/IBGE
dados_sidra = sidra.get_table(
    table_code = "7060",
    territorial_level = "1",
    ibge_territorial_code = "all",
    variable = "63,66,2265",
    period = "all",
    classifications = {"315": "7169,7170,7445,7486,7558,7625,7660,7712,7766,7786"}
    )
dados_sidra

,NC,NN,MC,MN,V,D1C,D1N,D2C,D2N,D3C,D3N,D4C,D4N
0,Nível Territorial (Código),Nível Territorial,Unidade de Medida (Código),Unidade de Medida,Valor,Brasil (Código),Brasil,Mês (Código),Mês,Variável (Código),Variável,"Geral, grupo, subgrupo, item e subitem (Código)","Geral, grupo, subgrupo, item e subitem"
1,1,Brasil,2,%,0.21,1,Brasil,202001,janeiro 2020,63,IPCA - Variação mensal,7169,Índice geral
2,1,Brasil,2,%,0.39,1,Brasil,202001,janeiro 2020,63,IPCA - Variação mensal,7170,1.Alimentação e bebidas
3,1,Brasil,2,%,0.55,1,Brasil,202001,janeiro 2020,63,IPCA - Variação mensal,7445,2.Habitação
4,1,Brasil,2,%,-0.07,1,Brasil,202001,janeiro 2020,63,IPCA - Variação mensal,7486,3.Artigos de residência
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1286,1,Brasil,2,%,0.25,1,Brasil,202307,julho 2023,2265,IPCA - Variação acumulada em 12 meses,7625,5.Transportes
1287,1,Brasil,2,%,10.12,1,Brasil,202307,julho 2023,2265,IPCA - Variação acumulada em 12 meses,7660,6.Saúde e cuidados pessoais
1288,1,Brasil,2,%,6.18,1,Brasil,202307,julho 2023,2265,IPCA - Variação acumulada em 12 meses,7712,7.Despesas pessoais
1289,1,Brasil,2,%,8.31,1,Brasil,202307,julho 2023,2265,IPCA - Variação acumulada em 12 meses,7766,8.Educação
1290,1,Brasil,2,%,0.36,1,Brasil,202307,julho 2023,2265,IPCA - Variação acumulada em 12 meses,7786,9.Comunicação